
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&family=Ubuntu:ital@1&display=swap');


:root{
    --main-bg-color:#2874f0;
}



*{
    padding: 0;
    margin:0;
}

.nav{
    display:flex;
}
.logo{
    display:flex;
    align-items:center;

}

.logo img{
    width:90px;
    padding:0 20px;
}

header{
    font-family: 'Caveat', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
   
    background-color:var(--main-bg-color);
}

.nav li{
list-style:none;
padding:0 20px;
}

.nav a{
    color:white;
    text-decoration: none;
}
.nav a:hover{
    font-weight:bold;
}

.nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    height:58px;

}
.search{
    display:flex;
    align-items: center;

}
.search input{
    width:300px;
    height:25px;
    border-radius:4px;
    margin:0 12px 0 55px;
    padding:0px 12px;
}
.search button{
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}
.slider{
    margin:auto;
    width:80vw;
    margin:12px auto;
    overflow:hidden;
    
}
.card{
    max-width:90vw;
    margin:37px auto;
}

.card-item{
    display:inline-flex;
    justify-content:center;
    flex-direction:column;
    margin:0 15px;
}
.card h2{
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}
.cards{
    display:flex;
    margin:10px 0px;
    overflow:scroll;
   
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}



/*footer overall*/
.flex-all-center{
    height:12vh;
    background-color: var(--main-bg-color);
    color:white;
    font-family: 'Caveat', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;

   

}
